<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <nav>
        <h1>Asparagus</h1>
        <div class="center">
            <a href="/login">Login</a>
            <a href="/">Show List</a>
        </div>
    </nav>

    <!-- To Do: Add in button to jump to various sections -->

    <div class="welcome">
        <h1>Welcome To Asparagus</h1>
        <p>Our website helps you keep track of all the various tv shows you are watching!</p>
    </div>

    <div class="HowTo">
        
        <h1>How To Guide</h1>
        <!-- To Do: add pictures if time -->
        
        <h2>Adding a Show to Your List</h2>
        <p>Click add show button. Type in title of your show. Click submit. Your show will appear at the top of the page.</p>
        
        <h2>Removing a Show from Your List</h2>
        <p>Click remove show button on the top right of the show you want to delete</p>
    
        <h2>Searching for a Show</h2>
        <p>Locate search bar at top of page. Click on the white box. Type in the title of the show. Click search. The show will appear. To get rid of your results click the clear button</p>
    </div>

    <div class="Privacy-Policy">
        <h1>Privacy Policy</h1>

        <h2>Data Collected</h2>
        <p>Username and Password are collected to allow users to sign into their individual accounts</p>

        <h2>How We Protect Your Data</h2>
        <p>Stored passwords are encypted</p>
    
    </div>

</body>