<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "/static/styles.css">
    </head>
    <body>
        <nav>
            <h1>Asparagus</h1>
        </nav>
        <ul>
            <li class="show" id = "sample">
                <h2>Show Name</h2>
                <div class = "showbox">
                    <div class="img-frame">
                        <img src="/static/img/sample.png">
                    </div>
                    <div class = "show-description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ab hic, sunt non quaerat eveniet voluptate asperiores doloribus modi veritatis temporibus inventore officiis facere sed aut facilis aspernatur. Est, at. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur at est, architecto repellendus repellat maiores odit. Harum necessitatibus quia sunt ex esse laboriosam, veniam deserunt. Adipisci perspiciatis suscipit qui vitae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam minima ea numquam placeat. Necessitatibus, eos pariatur beatae explicabo suscipit architecto commodi dolorem odit, error temporibus, quidem ab corrupti consequuntur repellat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores facere mollitia fuga illo repellendus voluptate ratione alias cum aliquid quo reiciendis, consequatur debitis odio excepturi, est asperiores laborum non architecto?</p>
                    </div>
                    <div class = "progbar">
                        <p>###/###</p>
                        <div class = "meter"></div>
                    </div>
                    <div class = "ratings">
                        <div class = "star-bg">
                            <div class = "star-darkgray"></div>
                            <div class = "star-yellow"></div>
                            <img src="/static/img/starframe.png">
                        </div>
                        <div class = "number-bg">
                            <p>2.5</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="show" id = "sample2">
                <h2>Show Name</h2>
                <div class = "showbox">
                    <div class="img-frame">
                        <img src="/static/img/sample.png">
                    </div>
                    <div class = "show-description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ab hic, sunt non quaerat eveniet voluptate asperiores doloribus modi veritatis temporibus inventore officiis facere sed aut facilis aspernatur. Est, at. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur at est, architecto repellendus repellat maiores odit. Harum necessitatibus quia sunt ex esse laboriosam, veniam deserunt. Adipisci perspiciatis suscipit qui vitae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam minima ea numquam placeat. Necessitatibus, eos pariatur beatae explicabo suscipit architecto commodi dolorem odit, error temporibus, quidem ab corrupti consequuntur repellat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores facere mollitia fuga illo repellendus voluptate ratione alias cum aliquid quo reiciendis, consequatur debitis odio excepturi, est asperiores laborum non architecto?</p>
                    </div>
                    <div class = "progbar">
                        <p>###/###</p>
                        <div class = "meter"></div>
                    </div>
                    <div class = "ratings">
                        <div class = "star-bg">
                            <div class = "star-darkgray"></div>
                            <div class = "star-yellow"></div>
                            <img src="/static/img/starframe.png">
                        </div>
                        <div class = "number-bg">
                            <p>2.5</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </body>
</html>