<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <nav>
        <h1>Asparagus</h1>
        <div class="center">
            <a href="index.html">Show List</a>
            <a href="home.html">Home Page</a>
        </div>
    </nav>

    <div class="center">
        <div class="login-container">
            <h1>Existing User</h1>

            <div class="login-error" id="login-error-msg-holder">
                <p id="login-error-msg">Invalid username or password</p>
            </div>

            <form id="login-form">
                <label for="login-uname">Username</label><br>
                <input  class="acc-input" type="text" name="username" id="login-uname" placeholder="Username"><br><br>

                <label for="login-pass">Password</label><br>
                <input class="acc-input" type="password" id="login-pass" placeholder="Password"><br><br>

                <button type="submit" class="acc-input-button" id="login-submit" onclick="acc_login()">Login</button>
            </form>
        </div>
        
        <h3>OR</h3>
        
        <div class="signup-container">
            <h1>New User</h1>

            <div class="signup-error" id="signup-uname-error-msg-holder">
                <p id="signup-uname-error-msg">Username already taken</p>
            </div>

            <div class="signup-error" id="signup-pass-error-msg-holder">
                <p id="signup-pass-error-msg">Password verification failed</p>
            </div>
            
            <form id="signup-form">
                <label for="signup-uname">Username</label><br>
                <input class="acc-input" type="text" id="signup-uname" placeholder="Username"><br><br>

                <label for="signup-pass">Password</label><br>
                <input class="acc-input" type="password" id="signup-pass" placeholder="Password"><br><br>

                <label for="verify-pass">Verify Password</label><br>
                <input class="acc-input" type="password" id="verify-pass" placeholder="Verify Password"><br><br>

                <button class="acc-input-button" id="signup-submit" onclick="create_acc()">Create Account</button>
            </form>
        </div>
    </div>
    
</body>

</html>