html{
    background-color: #444;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

nav{
    background: #333;
}

nav h1{
    margin: 0;
    color: #fff;
    padding: 10px 0 10px 60px;
    margin-top: -1px;
}

ul{
    padding-left: 80px;
}

.show{
    margin-top: 30px;
    list-style-type: none;
}

.show-description p{
    font-size: 12px;
    color: #666;
}

.show h2{
    margin-bottom: 10px;
}

.showbox{
    background: #333;
    padding: 10px 10px 7px 10px;
    width: 95%;
    border-radius: 15px;
}

.img-frame{
    width: 125px;
    height: 175px;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
}

.img-frame img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show-description{
    display: inline-block;
    height: 130px;
    width: 60%;
    position: absolute;
    margin-left: 10px;
    overflow-y: auto;
}

.show-description p{
    margin: 0;
}

.progbar{
    display: inline-block;
    width: 80%;
}

.progbar p{
    margin: 0;
    display: inline-block;
    width: fit-content;
    color: #666;
    margin-left: 5%;  
}

#current-ep {
    text-align: right;
    min-width: 52px; 
    width: 5%;
    margin-left: 2.5%;
    
    /* Same as rest in class progbar */
    margin: 0;
    display: inline-block;
    color: #666;

    /* Used to match appearance */
    background-color:#333;
    font-size: 16px;
    border: none;
    
}

#divider {
    text-align: center;
    margin-left: 0%;
}

#total-ep {
    text-align: left;
    margin-left: 0%;
}

.meter{
    width: 70%;
    height: 5px;
    background: linear-gradient(0.25turn, #000, #060, #0f0);
    display: inline-block;
    border-radius: 2px;
    margin: 0 0 1px 30px
}

.ratings{
    display: inline-block;
    width: 125px;
    height: 35px;
}

.star-bg{
    border-radius: 20px;
    width: 125px;
    height: 80%;
    background-color: #282828;
    margin: 3px auto 0 auto
}

.number-bg{
    border-radius: 20px;
    width: 40px;
    height: 80%;
    background-color: #282828;
    transform: translate(135px, -28px);
}

.number-bg p{
    margin: 0;
    font-weight: bold;
    transform: translate(9px, 4px);
    color: #fc0;
}

.star-darkgray{
    background-color: #222;
    width: 102px;
    margin-left: 12px;
    height: 18px;
    transform: translate(0, 4px);
}

.star-yellow{
    background-color: #fc0;
    width: 50px; /* This here is what you change to change a show's rating score */
                 /* Multiply a number between 0.0 and 5.0 by 20.4                */
    margin-left: 12px;
    height: 18px;
    transform: translate(0, -14px);
}

.star-bg img{
    position: absolute;
    width: 103px;
    height: 18px;
    transform: translate(11px, -32px);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    /*border: 3px solid green;*/
  }

.add-show {
    background-color: rgb(14, 145, 53);
    border: none;
    color:#fff;
    text-align: center; 
    font-size: 24px;
    border-radius: 50%;

}